.section{
    display: flex;
    
} 

.imagens{
    padding:128px 18px;

}

.info{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
    top:458px;
   margin-left: 26px;
   margin-right: 220px;
} 

.info h2{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 30px;
}

.info h3{
    font-weight: 300;
    font-size: 17px;
    color:  #FFFFFF;
    
}