html {
    font-size: 62.5%;
    /* utilizamos isso para trasnformar nossa font-size que era de 16px por padrão pra 10px e ai podemos usar o rem cm mais facilidade. Ex( se queremos atribuir 20px só precisamo colocar 2rem)*/
}

.body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    font-size: 15px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.menu {
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;

}

.logo h1 {
    font-weight: 800;
    color: #000000;
    font-size: 2rem;
}

.menu li a{
   padding: 10px 5px;
   margin-left: 1.5rem;
   transition: 0.3s ease-in-out; /*transição para o hover*/
   font-size: 1.5rem;
}

a.botao {
    background-color: #5BC241;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-left: 3rem;
}

.menu li a:hover {
    background-color: #5BC241;
    padding: 10px;
    color: white;
}

